:root{
    --alturaHeader: 0px;
    --alturaFooter: 0px ;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

header {
    position: relative;
    width: 100vw;
    background-color: #1a1a1a;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px    ;
    border-bottom: 2px solid #2c3e50;
    box-shadow: 0 4px 10px rg       ba(0,0,0,0.5);
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #3498db;
}
#map {
    height: calc(100vh - var(--alturaHeader) - var(--alturaFooter));
    width:100%;
}
#detalhes_do_aviao{
    position: absolute;
}
.leaflet-tile-pane {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
/* --- ESTILOS DO RODAPÉ --- */
footer {
    position: relative;
    background-color: #1a1a1a; 
    color: #bdc3c7;
    text-align: center;
    padding: 20px 15px;
    font-size: 0.85rem;
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
}

footer a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*leaflet testes popups*/
/*retira a ponta do popup*/
.leaflet-popup-tip-container{
    display: none;
}